body,
html{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 100%;
    height: 100%;   
    background: url(undraw_social_media_re_sulg.svg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

h1{
    color: rgb(255, 145, 0);
    font-size: 3rem;
    border: 2px solid rgba(0, 0, 0, 0.623);
    display: inline-block;
    max-width: fit-content;
    background-color: rgba(0, 0, 0, 0.623);
}


.buffer{
    height: 10rem;
}

section {
    text-align: center;
  }
  

hr
{
    position: relative;
    bottom: 10px;
    margin: 0 auto;
    color: #ff0000;
    border-width: 3px;
    max-width: 65px;
}


/* il padding in questo caso nel primo valore specifica la grandezza dei lati
mentre il secondo valore la grandezza del bottom e top*/
.btn-xl{
    padding: 1rem 2rem;
}

.btn{
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;
}

.btn-primary{
    background-color:#f05f44 ;
    border-color: #f05f44;
}

.btn-primary:hover{
 background-color: #ee4b08;   
 border-color: #ee4b08;
 border-width: 4px;
}
